[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Environment=ETCD_UNSUPPORTED_ARCH=riscv64
ExecStart=/usr/local/bin/etcd \
  --name fedora-unleashed \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://192.168.15.16:2380 \
  --listen-peer-urls https://192.168.15.16:2380 \
  --listen-client-urls https://192.168.15.16:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://192.168.15.16:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster fedora-unleashed=https://192.168.15.16:2380 \
  --initial-cluster-state new \
  --data-dir=/nbd-mount/riscv/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target